<div data-ng-controller="CommentListCtrl as ctrl" class="comment-section" ng-show="show">
    <div data-ng-repeat="comment in ctrl.comments | filter: { gallery_id: image.id }" class="comment" style="">
        <b>{{ctrl.attendeesName}} -  {{comment.updatedDatetime | date:'medium' }} </b> <br>{{comment.comments}}
    </div>
    <form name="commentForm" novalidate ng-submit="ctrl.addComment(image.id)" class="comment">
        <textarea ng-model="ctrl.comment.comments" maxlength="1500" required placeholder="Add a Comment"></textarea>
        <span class="characters">{{1500 - ctrl.comment.comments[$index].length}} characters remaining..</span>
        <input type="submit" class="btn btn-danger pull-right" />
    </form>
</div>