.nopadding-one{
    padding-right:45px !important;
}

.nopadding-two{
    padding-right:45px !important;
}


img {
    max-width: 100%;
}

.w-card{

}
.w-card .description{
    border: thin solid #DDD; border-top: 0;margin-bottom: 20px;
}
.w-card .description .likes-comments{
    height: 50px;
    padding: 10px;
}
.w-card .description .like-count {
    float: left; line-height: 30px;
}
.w-card .description .like-image{
    height: 28px;float: left;margin-right: 10px;
}

.w-card .posted-by{
    border: 1px solid #ddd;
    border-bottom: 0;
    padding: 10px;
    height: 50px;
}

.w-card .profile{
    width: 30px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    border-radius: 30px;
    border: 2px solid #eee;
    float: left;
}
.w-card .caption{
    border-bottom: thin dashed #DDD;
    padding: 10px;
    text-align: center;
    line-height: 30px;
    color: #888;
}
.w-card .description .add-comment{
    float: right;line-height: 30px; color: #333; font-weight: bold; cursor: pointer;
}
.w-card .description .add-comment:hover{
    text-decoration: none;
}

.w-card .description .comment-section form {
    clear: both;
}
.w-card .description .comment-section  form textarea{
    border: thin solid #ddd; border-left:0; border-right: 0; width:100%;height: 100px;height: 155px;padding: 10px;
}
.w-card .description .comment-section form .btn.btn-danger.pull-right{
    margin:0;
}
.w-card .description .comment-section form .characters{
    line-height: 33px; margin-left: 10px;
}

.header {
    width: 250px;
    margin: 0 auto;
}
.main{
    padding-top: 20px;
    border-top: thin dashed #CCC;
}

a.upload{
    background-color: #d9534f;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    color: #FFF;
}
a.upload:hover{
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.3);
    text-decoration: none;
    color: #FFF;
}
.view-more{
    display: block;
    text-align: center;
    padding: 10px;
}

.comment-section{
    border-top: thin solid #DDD;

}

.comment{
    padding: 20px;
    border-bottom: thin dashed #DDD;
}

.show {
    display: block;
}

.camera-btn {
    position: absolute;
     top: 0;
    bottom: 0;
     left: 0;
    right: 0;
    height: 75px;
    width: 75px;
    margin: auto;
    text-align: center;
    border: 5px solid #DDD;
    border-radius: 47px;
    line-height: 68px;
    font-size: 30px;
    color: #000;
    cursor: pointer;
    background-color: #FFF;
}

.camera-btn:hover{
    color: #000;

}

.camera-btn.selected{
    position: absolute;
    top: auto;
    left: auto;
    bottom: 25px;
    right: 25px;
    opacity: 0.3;
    transition:left 1s linear;

}

.camera-btn.selected:hover{
    opacity: 1;
}

div.modal-dialog {
    margin-top: 210px;
}

.footer{
    text-align: center;
    padding: 30px 0 50px 0;
    border-top: thin dashed #ddd;
}

.footer a.load-more{
    width: 200px;
    border: 2px solid #eca9a7;
    color: #000;
    text-transform: uppercase;
    padding: 10px 20px;
    opacity: 0.5;
}


.footer a.load-more:hover{
    text-decoration: none;
    opacity: 1;
    box-shadow: 0px 0px 51px 3px rgba(0,0,0,0.1);
}